@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <form asp-action="Search" method="get">
        <input type="text" name="searchString" placeholder="Nhập thể loại cần tìm ..."
               value="@ViewBag.SearchString" />
        <input type="submit" value="Tìm kiếm" />
    </form>
    <table class="table">
        <thead>
            <tr>
                <th align="center">Lớp Học</th>
                <th align="center">Năm nhập học</th>
                <th align="center">Năm ra trường</th>
                <th align="center">Số lượng sinh viên</th>
                <th align="center">Chức năng</th>
            </tr>
        </thead>
        @foreach (var item in ViewBag.LopHoc)
        {
            <tbody>
                <tr>
                    <td width="15%">@item.TenLopHoc</td>
                    <td width="15%">@String.Format("{00:dd/MM/yyyy}", item.NamNhapHoc)</td>
                    <td width="15%">@String.Format("{00:dd/MM/yyyy}", item.NamRaTruong)</td>
                    <td width="15%">@item.SoLuongSinhVien</td>
                    <td width="40%">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>|
                        <a asp-action="Detail" asp-route-id="@item.Id">Detail</a>|
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
    <a asp-controller="LopHoc" asp-action="Create" class="btn btn-primary">Thêm mới</a>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}